* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  width: 90%;
  min-width: 1200px;
  margin: 40px auto 40px auto;
}