* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  @media screen and (min-width: 360px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 480px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}